.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
    
}

.formulario h2 {
    color: yellowgreen;
    font-weight: lighter;
    margin-bottom: 2rem;
    font-size: 2rem;
    
}

.formulario form {
    max-width: 1024px;
    width: 100%;
    padding: 2rem 0;
    margin: 0 10%;
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 50px;
    box-shadow: 6px 8px 8px #000000;
}

@media screen and (max-width: 480px) {
    .formulario h2 {
        font-size: 1.25rem;
    }
}